<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index.html::header">
</head>
<body>
<nav th:insert="index.html::navbar"></nav>
<div class="container" style="padding-top: 20px">
    <form th:action="@{/usertb/update}" th:object="${model}" method="post">
        <div class="mb-3">
            <label for="inputId" class="form-label">ID</label>
            <input type="number" class="form-control" id="inputId" th:field="*{ID}" required readonly>
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="inputComment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="inputComment" th:field="*{comment}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>